<header>
	<meta charset="utf-8" />
	<title> bien sale bien dégoutant</title>

</header>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>

<script type="text/javascript" src="app.js"></script>

<div class="panel panel-primary">
	<div class="panel-heading">Appication 1</div>
	<div class="panel-body">
		<div class="form-group" data-ng-app="myApp" data-ng-controller="textController as text">
		<p><label for="message">Note :</label>
      	<textarea data-ng-init="text.getcookie()" data-ng-change="text.change()" name="message" id="message" data-ng-model="text.prenom" cols="40" rows="5" class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength" maxlength="100" value="f"></textarea>
		</p>
		<p>
		<button data-ng-click="text.energ()" class="btn btn-primary">Enregistrer</button>
		<button data-ng-click="text.supprCookie()" class="btn btn-primary">Effacer</button>
		</p>

		<div class="alert alert-info alert-dismissible" role="alert">Nombre de caractères restant : {{text.TailleRestante(text.prenom)}} </div>
		<div ng-show="text.etat=='1'" ng-class="text.Class()" role="alert">Note sauvegarder</div>
		<div ng-show="text.etat=='2'" class="alert alert-info alert-dismissible" role="alert">Note modifiée</div>

		</div>
	</div>
</div>
